<header class="header">
    <div class="header__wrap">
        <div class="wrapper">
            <div class="header__nav">
                {{> ../logo/logo}}

                <nav class="nav">
                    <ul class="nav__menu">
                        <li class="nav__item">О нас</li>
                        <ul class="nav__sup-menu">
                            <li class="nav__item"><a href="#" class="nav__link">Услуги <span class="nav__link-drop"></span></a></li>
                        </ul>
                        <li class="nav__item">Вакансии</li>
                        <li class="nav__item">Новости</li>
                        <ul class="nav__sup-menu">
                            <li class="nav__item"><a href="#" class="nav__link">Соглашения <span class="nav__link-drop"></span></a></li>
                        </ul>
                    </ul>
                    <ul class="header__users">
                        <button class="header__users-btn button button--light">Войти</button>
                        <button class="header__users-btn button button--bid">зарегистрироваться</button>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
