.button {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    padding: 9px 20px;
    font-size: 12px;
    line-height: 15px;
    font-family: "Montserrat-Bold", sans-serif;
    font-style: normal;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;

    transition: background .1s linear, opacity .2s linear;
}

.button:hover {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.5;
}


.button.button--light {
    background: #fff;
    border: 2px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  -webkit-background-clip: padding-box, border-box;
    color: #BC9CFF;

    transition: background .1s linear;
}

.button.button--light:hover {
    background-image: linear-gradient(white, white), linear-gradient(180deg, #bc9cff80 0%, #8ba4f980 100%);
    opacity: 1;
}


.button.button--bid {
    position: relative;
}
