<a href="main.html" class="link">link</a>

<input type="submit" class="button" value="Войти">
<input type="submit" class="button button--light" value="Войти">
<input type="submit" class="button button--bid" value="Войти">
<button class="button button--bid">Войти <span><svg class="arrow">
            <use xlink:href="#arrow"></use>
        </svg></span></button>

<svg class="icon">
    <use xlink:href="#twitter"></use>
</svg>
<svg class="icon">
    <use xlink:href="#smile"></use>
</svg>
<svg class="icon">
    <use xlink:href="#instagram"></use>
</svg>
<svg class="icon">
    <use xlink:href="#facebook"></use>
</svg>
<svg class="icon">
    <use xlink:href="#city"></use>
</svg>

<a href="#" class="link">Click me</a>

<input type="text" class="input" placeholder="Name">
<select class="expand" name="hello">
    <option>Куздра</option>
    <option>Бокр</option>
    <option>Бокрёнок</option>
</select>

<h1>Hello</h1>
<p class="test">Lorem</p>
